# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
#!pip install gmaps

#! jupyter nbextension enable --py --sys-prefix gmaps

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
#Read in
df = "../../Part-1-WeatherPy/Code/df_weather.csv"
df = pd.read_csv(df)
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,puerto ayora,-0.74,-90.35,77.00,61.0,20.0,21.92,EC,1.605477e+09
1,talnakh,69.49,88.40,10.40,92.0,75.0,6.71,RU,1.605477e+09
2,coquimbo,-29.95,-71.34,59.00,67.0,75.0,11.41,CL,1.605477e+09
3,yunyang,33.45,112.71,51.33,80.0,0.0,5.61,CN,1.605477e+09
4,mount gambier,-37.83,140.77,59.00,72.0,75.0,24.16,AU,1.605477e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key=g_key)

In [15]:
#drop nan values
df.dropna(inplace=True)

In [16]:
fig = gmaps.figure(center=(44.0, -44.0), zoom_level=3)
heatmap_layer = gmaps.heatmap_layer(
    df[['Lat', 'Lng']], weights=df['Humidity'],
    max_intensity=44, point_radius=15.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
df = df[df['Humidity'] <= 20]
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
65,saint george,37.10,-113.58,64.99,20.0,1.0,1.86,US,1.605477e+09
69,karratha,-20.74,116.85,78.10,19.0,0.0,5.91,AU,1.605477e+09
125,nouakchott,18.09,-15.98,78.80,15.0,0.0,10.29,MR,1.605477e+09
201,truth or consequences,33.13,-107.25,69.01,11.0,1.0,4.70,US,1.605477e+09
210,goundam,16.41,-3.67,80.22,16.0,0.0,11.03,ML,1.605477e+09
223,kashi,39.45,75.98,46.40,11.0,75.0,8.95,CN,1.605477e+09
269,pampa,35.54,-100.96,59.00,14.0,1.0,17.22,US,1.605477e+09
296,port lavaca,28.61,-96.63,78.80,8.0,1.0,14.99,US,1.605477e+09
432,araouane,18.90,-3.53,78.51,17.0,0.0,10.98,ML,1.605477e+09
491,taoudenni,22.68,-3.98,76.08,19.0,68.0,12.88,ML,1.605477e+09
497,roebourne,-20.78,117.13,78.71,20.0,0.0,6.87,AU,1.605477e+09
522,blythe,33.61,-114.60,78.80,12.0,1.0,8.05,US,1.605477e+09
555,hurricane,37.18,-113.29,64.99,20.0,1.0,0.96,US,1.605477e+09
584,catalina,32.51,-110.92,80.01,14.0,0.0,3.00,US,1.605477e+09
595,houston,29.76,-95.36,75.00,13.0,1.0,13.87,US,1.605476e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
#set base url
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
url= f"{base_url}location={df.loc[65,'Lat']},{df.loc[65,'Lng']}&radius=5000&key={g_key}"
url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.1,-113.58&radius=5000&key=AIzaSyDRJXgEv8Z2S2yQQ16fugb5b1vtFzAsXrs'

In [48]:
#dataframe
df_hotel = pd.DataFrame()
df_hotel['Hotel Name'] = ''
df_hotel['Lat'] = ''
df_hotel['Lng'] = ''
df_hotel['City'] = ''
df_hotel['Country'] = ''

#make api call. run loop to save dataframe to local, get data from local only
#put the breaks on my loop to keep from too many calls.  Originaly set to 20
max_records = 20

i = 0

for j, row in df.iterrows():
    if i > max_records:
        break
    url= f"{base_url}location={row['Lat']},{row['Lng']}&radius=5000&key={g_key}"
    
    response = requests.get(url).json()
    for result in response['results']:
        if 'lodging' in result['types']:
            df_hotel.loc[i, 'Hotel Name'] = response['results'][0]['name']
            df_hotel.loc[i, 'Lat'] = response['results'][0]['geometry']['location']['lat']
            df_hotel.loc[i, 'Lng'] = response['results'][0]['geometry']['location']['lng']
            df_hotel.loc[i, 'City'] = row['City']
            df_hotel.loc[i, 'Country'] = row['Country'] 
            i = i + 1
            break

In [49]:
#Export the city data into a .csv.
if len(df_hotel) > 1:
    df_hotel.to_csv('df_hotel.csv', index=False)
df_hotel=pd.read_csv('df_hotel.csv')
len(df_hotel)

11

In [50]:
hotel_df = df_hotel

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [53]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center=(44.0, -44.0), zoom_level=3)
heatmap_layer = gmaps.heatmap_layer(
    df[['Lat', 'Lng']], weights=df['Humidity'],
    max_intensity=44, point_radius=15.0)
fig.add_layer(heatmap_layer)
markers = gmaps.marker_layer(hotel_df[['Lat', 'Lng']])
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))